.loan_card {
  cursor: pointer;
  background-color: $card-bg;
  margin-top: 20px;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-details {
    width: 50%;
    h5,
    p,
    p {
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 20px;
      
    }
  }

  &-progress {
    width: 50%;
    p,
    div,
    button {
      margin-bottom: 20px;
    }

    button {
      cursor: pointer;
      background-color: $primary-color;
      color: $white;
      outline: none;
      border: none;
      border-radius: 5px;
      font-size: 13px;
      padding: 8px 20px;
      transition: background-color 0.5s ease-in;

      &:hover {
        background-color: $primary-color-hover;
      }
    }
  }
}
