.payments_history {
  width: 100%;
  display: flex;
  flex-direction: column;

  &-progress {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      width: 50%;
      margin-top: 20px;
      margin-bottom: 20px;
      height: 6px;
      border-radius: 10px;
      background: $progress-bar-bg;
    }
  }
}
