//Container
.container {
  position: relative;
  padding: 10px 20px;
  width: 78vw;
  left: 20vw;
}

//Tab Navigation
.tab-nav {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  li {
    list-style: none;
    cursor: pointer;
    padding: 8px 20px 8px 0;
    text-align: center;
    background-color: transparent;
    color: $inactive-tab;

    &.active-color {
      color: $primary-color;
      border-bottom: 3px solid $primary-color;
      font-weight: 500;
    }
  }
}

//Tables
.table_container {
  margin-top: 10px;
  width: 60%;
  font-size: 14px;
}

table {
  border-collapse: separate;
  border-spacing: 0 15px;
  width: 100%;

  .table_header {
    background-color: $primary-color;
    color: $white;
    font-weight: 700;
  }

  .clickable {
    cursor: pointer;

    &:hover {
      background-color: $inactive-tab;
      padding: 10px 0;
    }
  }

  td,
  th {
    text-align: left;
    padding: 8px;
  }

  td {
    cursor: pointer;
    font-size: 12px;
    background-color: $td-bg;
    color: $primary-color;
    font-weight: 500;
  }
}

//Loan Progress Table
.loan_progress-table-container {
  margin-top: 10px;
  width: 95%;
  font-size: 12px;
}

//Payment History Table
.payment_history-table-container {
  margin-top: 10px;
  width: 100%;
  font-size: 12px;
}

.tab_container {
  display: flex;
  justify-content: space-between;

  p {
    margin: 20px 0;
  }
}

.flex {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.sub_tab-container {
  width: 30%;
}

.avatar {
  margin: 10px auto 40px auto;
}

.error_container {
  padding: 5px 10px;
  width: 90%;
  margin: 0 auto 30px auto;
  border: 1px solid red;
  color: red;

  p {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
  }
}
