//Colors
$bg-color: rgba(232, 229, 229, 0.5);
$primary-color: rgba(0, 48, 73, 1);
$primary-color-hover: rgb(2, 69, 105);
$black: rgba(31, 29, 43, 1);
$gray: rgba(232, 235, 236, 1);
$white: rgba(255, 255, 255, 1);
$login-header-bg: rgba(40, 20, 98, 1);
$login-header-text: rgba(233, 198, 76, 1);
$placeholder-text: rgba(126, 122, 122, 1);
$inactive-tab: rgba(186, 186, 186, 1);
$td-bg: rgba(240, 240, 240, 1);
$input-shadow: rgba(0, 0, 0, 0.05);
$card-bg: rgba(230, 230, 230, 1);
$progress-bar-bg: linear-gradient(
  90deg,
  #43a86b 34.44%,
  rgba(125, 126, 125, 0.520833) 55.8%,
  rgba(2, 2, 2, 0.43) 80%
);

//Magins

//Paddings
